<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>

    <header class="masthead">
      <div class="masthead-inner" align="center">
		    <p><img src="https://s3.amazonaws.com/kinlane-productions/bw-icons/bw-kin-inverse.png" align="center" width="90" style="padding-bottom:30px;" /></p>
        <div class="colophon">
          <ul class="colophon-links">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/blog/">Blog</a> <a href="http://alternate.kinlane.com" style="font-size: 11px;">(alternate)</a> <a href="http://kinlane.com/archive/" style="font-size: 11px;">(archive)</a></a>
            </li>
            <li>
              <a href="/talks/">My Talks</a>
            </li>
            <li>
              <a href="/images/">Images</a> / <a href="/videos/">Videos</a>
            </li>
            <li>
              <a href="/experiences/">My Experiences</a>
            </li>
            <li>
              <a href="/">About Me</a>
            </li>
            <li>
              <a href="https://apievangelist.com/">API Evangelist</a>
            </li>
          </ul>
        </div>

		</div>

      </div>
    </header>

    <div class="content container">

      	{{ content }}

	     <div class="footer">
		    <ul>
		    	<li><a href="http://kinlane.com">Home</a></li>
		    	<li><a href="http://kinlane.com/blog/">Blog</a></li>
		    	<li><a href="http://kinlane.com/about/">About</a></li>
		    	<li><a href="http://apievangelist.com">API Evangelist</a></li>
		    	<li><a href="http://kinlane.com/contact/">Contact</a></li>
		    </ul>
		</div>

    </div>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-1119465-35"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-1119465-35');
    </script>

  </body>
</html>
